.Toolbar {
  grid-area: Toolbar;
  display: grid;
  grid-template-columns: [DisplayDateRange-start]
  13.7% [DisplayDateRange-end DateRangeSelector-start]
  38.9% [DateRangeSelector-end DateRangeBrowser-start]
  25.4% [DateRangeBrowser-end AccountTools-start]
  1fr [AccountTools-end];
  grid-template-rows: 100%;
  @extend .toolbar-gradient;

  > div {
    align-self: center;
    justify-self: start;
    margin-left: 5px;
  }
}